<div class="card">
  <div class="card-header">
    <h2>Mohammad Bilal Khan</h2>
  </div>
  <div class="card-body">
    <h5 class="card-title">Front End Web Developer</h5>
    <p class="card-text">Build This App Using Ruby on Rilas, Bootstrap CSS and Database Used is PostgreSQL</p>
    <a href="https://github.com/bilal1khan/Resume-Builder" class="btn btn-secondary">Code On Git Hub</a>
  </div>
</div>