  
  <div class="bg-dark bg-opacity-75 px-5 py-5 text-white mx-auto md:w-2/3 w-full">
    <h1 class="">Add New Resume</h1>

    <%= render "form", resume: @resume, class: "btn btn-secondary ml-2 rounded-lg mb-2 py-2 px-4 inline-block font-medium" %>

    <%= link_to 'Back to resumes', resumes_path, class: "btn btn-secondary mt-2 ml-2 rounded-lg mb-2 py-2 px-4inline-block font-medium" %>
  </div>